[submodule "comp_distribuida/trabalho_pratico_2024"]
	path = comp_distribuida/trabalho_pratico_2024
	url = https://github.com/budkee/credito_debito.git

[submodule "disciplinas/tads/singleton/singleton_pattern"]
	path = disciplinas/tads/singleton/singleton_pattern
	url = https://github.com/budkee/singleton_pattern.git

[submodule "disciplinas/tads/open_weather_map/news_on_weather"]
	path = disciplinas/tads/open_weather_map/news_on_weather
	url = git@github.com:budkee/news_on_weather

[submodule "disciplinas/banco_de_dados/trabalho_pratico/spotify_data_colect"]
	path = disciplinas/banco_de_dados/trabalho_pratico/spotify_data_colect
	url = git@github.com:budkee/spotify_data_colect.git
